*{
    box-sizing: border-box;
}
.name{
    display: inline-block;
    margin: 5px 0 15px 0;
}
.phone{
    display: inline-block;
    margin: 5px 0 15px 0;
}
.result{
    margin-top: 15px;
}
.errorName{
    border: 2px solid red;
}
.afterName{
    position: relative;
    display: none;
}
.afterName::after{
    position: absolute;
    display: inline-block;
    top: -12px;
    left: 0;
    width: 150px;
    content: 'Only letters are allowed';
    color: red;
    font-size: 12px;
}